<div class = "container" id = "default-padding">
    <div class = "col-md-6">
	<div class = "panel panel-default">
	    <div class = "panel-heading">
		Schools
	    </div>
	    <div class = "panel-body">
		<%= link_to "Create school", new_school_path(), class: "btn btn-link" %>
		<% if @schools.empty? %>
		    <p class = "text-center"><i>No schools here</i></p>
		<% else %>
		    <ul class = "list-group">
			<% @schools.each do |school| %>
			    <li class = "list-group-item">
				<%= link_to school.name, school_path(school) %>
				<div class = "pull-right">
				    <%= link_to "Edit", edit_school_path(school) %>
				    <%= link_to "Delete", school_path(school), method: :delete, data: {confirm: "Delete permanently?"} %>
				</div>
			    </li>
			<% end %>
		    </ul>
		<% end %>
	    </div>
	</div>
    </div>
    <div class = "col-md-6">
	<div class = "panel panel-default">
	    <div class = "panel-heading">
		Subjects
	    </div>
	    <div class = "panel-body">
		<%= link_to "Create subject", new_subject_path(), class: "btn btn-link" %>
		<% if @subjects.empty? %>
		    <p class = "text-center"><i>No subjects here</i></p>
		<% else %>
		    <ul class = "list-group">
			<% @subjects.each do |subject| %>
			    <li class = "list-group-item">
				<%= link_to subject.name, subject_path(subject) %>
				<div class = "pull-right">
				    <%= link_to "Edit", edit_subject_path(subject) %>
				    <%= link_to "Delete", subject_path(subject), method: :delete, data: {confirm: "Delete permanently?"} %>
				    <%= link_to "Add professor", subject_add(subject) %>
				</div>
			    </li>
			<% end %>
		    </ul>
		<% end %>
	    </div>
	</div>
    </div>
    <div class = "col-md-6">
	<div class = "panel panel-default">
	    <div class = "panel-heading">
		Professors	
	    </div>
	    <div class = "panel-body">
		<%= link_to "Create professor", new_professor_path(), class: "btn btn-link" %>
		<% if @professors.empty? %>
		    <p class = "text-center"><i>No professors here</i></p>
		<% else %>
		    <ul class = "list-group">
			<% @professors.each do |professor| %>
			    <li class = "list-group-item">
				<%= link_to professor.last_name + ", " + professor.first_name, professor_path(professor)%>
				<div class = "pull-right">
				    <%= link_to "Edit", edit_professor_path(professor) %>
				    <%= link_to "Delete", professor_path(professor), method: :delete, data: {confirm: "Delete permanently?"} %>
				    <%= link_to "Add class", professor_add(professor) %>
				</div>
			    </li>
			<% end %>
		    </ul>
		<% end %>
	    </div>
	</div>
    </div>
</div>
