<p id="notice"><%= notice %></p>

<div class = "container" id = "default-padding">
    <div class = "col-md-12">
	<div class = "panel panel-default">
	    <div class = "panel-body">
		<h2><%= @professor.last_name + ", " + @professor.first_name %></h2>
		<p>Overall rating: <%= @professor.overall_rating %>/5.0</p>
		<%= link_to "Write a review", new_professor_review_path(professor_id: @professor) %>
	    </div>
	</div>
    </div>
    <div class = "col-md-12">
	<h3 class = "text-center">Classes</h3>
    </div>
    <% if @professor.subjects.blank? %>
	<h4 class = "text-center">No classes here</h4>
    <% else %>
	<% @professor.subjects.each do |subject| %> 
	    <div class = "col-md-12">
		<div class = "panel panel-default">
		    <div class = "panel-body">
			    <h4><%= link_to subject.name, subject_path(subject) %></h4>
			    <p>School: <%= link_to subject.school.name, school_path(subject.school) %></p>
			    <p>Rating of professor: <%= @professor.average_rating(subject.id) %>/5.0 </p>
		    </div>
		</div>
	    </div>
	<% end %>
    <% end %>
</div>
