<p id="notice"><%= notice %></p>

<div class = "container" id = "default-padding">
    <div class = "panel panel-default">
	<div class = "panel-body">
	    <h2><%= @subject.name %></h2> 
	    <p><i><%= @subject.school %></i></p>
	    <p><%= @subject.desc %></p>
	</div>
    </div>
    <h3 class = "text-center">Professors</h3>
    <% if @professors.empty? %>
	<h4 class = "text-center">No professors here</h4>
    <% else %>
	<% @professors.each do |professor|%>
	    <%= render 'professors/professor', professor: professor %>
	<% end %>
    <% end %>
</div>
