<div class = "col-md-12">
    <div class = "panel panel-default">
	<h4><%= school.name %></h4>
	<div class = "panel-body">
	    <p><%= school.address %> </p>
	    <p><%= school.desc %></p>
	    <p>Contact: <%= school.phone %> </p>
	    <p> <%= school.email %></p>
	</div>
    </div>
</div>
