<div class = "col-md-12">
    <div class = "panel panel-default">
	<div class = "panel-body">
	    <h4><%= link_to school.name, school_path(school) %></h4>
	    <p><%= school.desc %></p>
	    <p><strong>Address:</strong> <%= school.address %> </p>
	    <p><strong>Contact Number:</strong> <%= school.phone %> </p>
	    <p><strong>Email:</strong> <%= school.email %></p>
	</div>
    </div>
</div>
