<p id="notice"><%= notice %></p>

<div class = "container" id = "default-padding">
    <div class = "panel panel-default">
	<h2>@school.name</h2>
	<div class = "panel-body">
	    <p><i><%=@school.address %></i></p>
	    <p><%= @school.desc %></p>
	    <p><strong>Contact details:</strong></p>
	    <p>Phone: <%= @school.phone %></p>
	    <p>Email: <%= @school.email  %></p>
	</div>
    </div>

    <h3 class = "text-center">Classes</h3>  
    <%= @school.subjects.each do |subject| %>
	<%= render "subjects/subject", subject: subject %>
    <% end %>
</div>
